body{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: greenyellow;
    
}
img{
    width: auto;
    height: auto;
}
.container{
    width: 50%;
    height: 50%;
    text-align: center;
    align-items: center;
    border: 1px solid black;

}