body{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: greenyellow;
    
}
img{
    width: auto;
    height: auto;
}
.container{
    width: 50%;
    height: 50%;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    text-align: left;

}
.cabecera{
    background: rgb(105, 105, 228);
    color: aliceblue;
    padding: 0 .5rem;
    text-align: left;
    font-weight: bold;
    font-size: 30px;
    box-shadow: 0px 5px 30px black;
    
}
#tagline{
    font-size: 0.8rem;
    font-family: arial;
    font-weight: bold;
    color: beige;
}